@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  font-family: Montserrat;
  color: white;
  text-align: center; }

main {
  -webkit-animation: opacity 3s ease-in-out, shimmer 1s linear;
          animation: opacity 3s ease-in-out, shimmer 1s linear;
  -webkit-animation-delay: 0s, 3s;
          animation-delay: 0s, 3s; }

h1 {
  font-size: 4em;
  text-transform: uppercase;
  -webkit-animation: letter-spacing 3s ease-in-out;
          animation: letter-spacing 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-align: inherit; }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 3em; } }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .links svg {
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    height: 2.5em;
    width: 2.5em; }
    .links svg path {
      fill: white; }
    .links svg:hover {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }

.modal {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }
  .modal.active {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .modal svg {
    width: 16em;
    height: 16em; }

@-webkit-keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes letter-spacing {
  from {
    letter-spacing: 0; }
  to {
    letter-spacing: 0.2em; } }

@keyframes letter-spacing {
  from {
    letter-spacing: 0; }
  to {
    letter-spacing: 0.2em; } }

@-webkit-keyframes shimmer {
  from {
    -webkit-clip-path: polygon(0 0, 0 100%, calc(-20% - 64px) 100%, -64px 0, 0 0, -20% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0);
            clip-path: polygon(0 0, 0 100%, calc(-20% - 64px) 100%, -64px 0, 0 0, -20% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0); }
  to {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, calc(100% + 20%) 0, calc(100% + 20% + 64px) 0, calc(100% + 64px) 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, calc(100% + 20%) 0, calc(100% + 20% + 64px) 0, calc(100% + 64px) 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0); } }

@keyframes shimmer {
  from {
    -webkit-clip-path: polygon(0 0, 0 100%, calc(-20% - 64px) 100%, -64px 0, 0 0, -20% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0);
            clip-path: polygon(0 0, 0 100%, calc(-20% - 64px) 100%, -64px 0, 0 0, -20% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0); }
  to {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, calc(100% + 20%) 0, calc(100% + 20% + 64px) 0, calc(100% + 64px) 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, calc(100% + 20%) 0, calc(100% + 20% + 64px) 0, calc(100% + 64px) 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0); } }
