@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; }

html, body {
  height: 100%;
  margin: 0; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #EBE58E;
  fill: #EBE58E;
  text-align: center;
  background-color: #31411E;
  background-size: 600px 600px;
  background-repeat: no-repeat; }

.container {
  width: 100vw;
  height: 100vh;
  padding: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  -webkit-animation: opacity 3s ease-in-out;
          animation: opacity 3s ease-in-out; }

h1 {
  font-size: 4em;
  -webkit-animation: letter-spacing 3s ease-in-out;
          animation: letter-spacing 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-align: inherit; }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 3em; } }
h2 {
   -webkit-animation: letter-spacing 3s ease-in-out;
          animation: letter-spacing 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-align: inherit; }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .links svg {
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    padding: 0.5em;
    height: 2.5em;
    width: 2.5em; }
    .links svg path, svg circle {
      fill: inherit; }
    .links svg:hover {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }

.modal {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }
  .modal.active {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .modal svg {
    width: 16em;
    height: 16em; }

@-webkit-keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes letter-spacing {
  from {
    letter-spacing: 0; }
  to {
    letter-spacing: 0.2em; } }

@keyframes letter-spacing {
  from {
    letter-spacing: 0; }
  to {
    letter-spacing: 0.2em; } }
